@charset "UTF-8"

@font-face
  font-family: 'Liberation Sans'
  src: url('LiberationSans-Regular.woff2') format('woff2'), url('LiberationSans-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal

$font-main: 'Liberation Sans' , sans-serif

body
  background: $offWhite
  font-family: $font-main
  color: $darkGray

main
  min-height: 85vh
  margin: 0 auto 15px

ul
  padding: 0

  li
    list-style-type: none

// slick slider styles
.slick-slider
  padding-left: 30px

  .slick-prev:before
    content: "<"
    color: $gray
    font-size: 30px

  .slick-next:before
    content: ">"
    color: $gray
    font-size: 30px

  .slick-slide
    img
      margin: 0 auto
      max-width: 100%

    *
      outline: none !important

// slider range styles
.rc-slider
  .rc-slider-track
    background-color: $orange

  .rc-slider-handle
    background-color: $white
    border-color: $orange;

    &:hover
      border-color: $orange;
